{% extends 'guest/base.html.twig' %}

{% block title %}Accommodation - Our Wedding{% endblock %}

{% block body %}
<header class="header-container accommodation">
    <div class="header-overlay">
        <h1>Accommodation</h1>
    </div>
</header>

<div class="page-container">
    {{ page_content.accommodation ?? '' }}
</div>
{% endblock %}
