secrets:
  postgresPassword: password
  rabbitmqPassword: password
  appSecret: secret
  adminPassword: password
  mailerDsn: smtp://mailer:1025
  emailNotifierTo: to@email.com
  emailNotifierFrom: from@email.com
