.rsvp__guest-container {
    display: flex;
    margin-top: 20px;
    justify-content: center;

    @include for-mobile {
        display: block;
    }

    .block {
        flex: 1;
        margin: 0 10px 10px 0;
        max-width: 680px;

        @include for-mobile {
            margin: 0 0 10px 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.rsvp__song-container {
    display: flex;

    @include for-mobile {
        display: block;
    }

    label {
        margin-bottom: 5px;
    }

    .block {
        flex: 1;
        margin: 0 10px 10px 0;

        @include for-mobile {
            margin: 0 0 10px 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.form-textarea {
    width: 100%;
    height: 96px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: $color-white;
    border: 1px $color-light-grey solid;
    border-radius: $form-border-radius;
    padding: 10px;
    appearance: none;
    outline: none;
}

.form-input {
    width: 100%;
    font-size: 14px;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: $color-white;
    border: 1px $color-light-grey solid;
    border-radius: $form-border-radius;
    appearance: none;
    outline: none;
}

.form-submit {
    color: $color-white;
    background: $color-wedding-purple;
    border: none;
    cursor: pointer;
    border-radius: $form-border-radius;
    margin-top: 40px;
    padding: 15px 75px;
    font-size: 16px;
    font-weight: bold;
    appearance: none;
    outline: none;
}

.form-select {
    display: block;
    font-size: 14px;
    color: #444;
    line-height: 1.3;
    padding: 10px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px #e8e1d0 solid;
    border-radius: $form-border-radius;
    appearance: none;
    outline: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;

    option {
        font-weight: normal;
    }

    &:disabled {
        color: graytext;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    }
}

.form-errors {
    li {
        color: #721c24;
        border: 1px solid #f5c6cb;
        background-color: #f8d7da;
        border-radius: 8px;
        padding: 10px;
    }
}
